<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello there,</h2>
    <p>Thank you for registrating, in order to verify your account please clikc the link below:</p>
    {{linkVerify}}

        <h4>Have a nice day!</h4>

</body>
</html>